<head>
    <title>Personas</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
            <tr>
                <td>1</td>
                <td>Hugo</td>
                <td>Estrada Ramirez</td>
                <td>18</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Estrella</td>
                <td>Perez Suarez</td>
                <td>17</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Diana</td>
                <td>Contreras Morales</td>
                <td>18</td>
            </tr>
    </table>
</body>
</html>